.footer{
	color: white;
	padding:0px !important;
	background: $background-footer; 	
	margin-top:100px;
	.bio{
		position:relative;
		.bio-img{
		position: absolute;
		top: -57px;

	}
		.name-img{
				margin:20px;
				margin-bottom: 20px;
				.bio-name{
					margin:0px ; 
					margin-bottom: 10px;
					font-family: $cam-font;
					font-style: italic;
					font-size: 25px;
				}
			}
	}
	.img{
		margin-top: 30px;
		
			img{
				margin: -6px;
			}
		
	}
	.skills{
		margin-top: 30px;
		font-family: $cam-font;
		.img-width{
			width: 200px;
			margin-left: 20px;
		}
		
	}
	.bio-info{
		font-family: $pt-font;
		font-size: 12px;
		margin-bottom: 30px;
	}
}
.copyright{
	background:#2C2C2C;
	height:40px;
		.text{
			width: 100%;
			span{
				color:white;
				text-align: left;
				color:#8F8F8F;
				font-size: 12px;
				line-height: 40px;
		}
		}
	}