.footer{
	color: white;
	padding:0px !important;
	background: $background-footer; 
	height:auto;	
	margin-top:100px;
	.bio{
		position:relative;
		.bio-img{
		position: absolute;
		top: -57px;

	}
		.name-img{
				margin:20px;
				margin-bottom: 20px;
				.bio-name{
					margin:0px ; 
					margin-bottom: 10px;
					font-family: $cam-font;
					font-style: italic;
					font-size: 25px;
				}
			}
	}
	.img{
		margin-top: 30px;
		
			img{
				margin: -6px;
			}
		
	}
	.skills{
		margin-top: 30px;
		font-family: $cam-font;
		.img-width{
			width: 200px;
			margin-left: 20px;
		}
		
	}
	.bio-info{
		font-family: $pt-font;
		font-size: 12px;
		margin-bottom: 30px;
	}
}
.copyright{
	background:#2C2C2C;
	height:40px;
		.text{
			width: 100%;
			span{
				color:white;
				text-align: left;
				color:$color-gray;
				font-size: 12px;
				line-height: 40px;
		}
		}
}
@media only screen and (max-width: 1024px){
.footer{
	height:auto;
	width:100%;
	.bio{
		position:relative;
		.bio-img{
		position: absolute;
		top: -42px;
		}
		.name-img{
			margin:0px;
			margin-top: 10px;
			margin-bottom: 20px;
			.bio-name{
				margin:0px ; 
				margin-bottom: 5px;
				font-family: $cam-font;
				font-style: italic;
				font-size: 20px;
			}
		}
	}
	.img{
	position:relative;
	margin-top: 0px;
	
	img{
			margin-top: 10px;
			margin-right: 20px;

		}
	span{
		position: absolute;
		top: 20px;
		left:50px;
		font-size: 20px;
		// font-weight: bold;
		}
	}
	.skills{
		margin-top: -10px;
		font-family: $cam-font;
		.img-width{
			width: 200px;
			margin-left: 20px;
		}
		
	}
	.bio-info{
		font-family: $pt-font;
		font-size: 12px;
		margin-bottom: 30px;
	}

}
.copyright{
		.text{
			display: none;
		}
	}

}
@media only screen and (max-width: 982px){
footer{
	width:100%;
	background:$background-footer;
}
.footer{
	// width:100%;
	.bio{
		position:relative;
		.bio-img{
		position: absolute;
		top: -60px;
	}
	.name-img{
				margin:20px;
				margin-left: -40px;
				// margin-bottom: 20px;
				.bio-name{
					margin:0px ; 
					margin-bottom: 10px;
					font-family: $cam-font;
					font-style: italic;
					font-size: 25px;
				}
			}
	}
	.img{
		position:relative;
		margin-top: 0px;
		// margin-bottom: 30px;
			img{
				margin: 20px;

			}
		span{
			position: absolute;
			top: 20px;
			left:50px;
			font-size: 20px;
			// font-weight: bold;
		}
	}
	.bio-info{
		font-family: $pt-font;
		font-size: 13px;
		margin-bottom: 30px;
		// font-weight: 100;
	}
}
.skills-mobile{
	background:$background-footer;
	color: white;
	padding-top:30px;
	padding-bottom:30px;
	border-top:1px solid white;
	h2{
		margin-bottom:20px;
	}
	img{
		width: 300px;
	}
	.col-xs-1{
		// font-weight: bold;
		font-size: 25px;
	}
	.col-xs-10{
		margin-top: 5px;
	}
	.row{
		margin-bottom:10px;
	}
	
}

}
@media only screen and (max-width: 640px){
.footer{
	.bio{
		position:relative;
		.bio-img{
		position: absolute;
		top: -60px;
	}
	.name-img{
				margin:20px;
				margin-left: -40px;
				// margin-bottom: 20px;
				.bio-name{
					margin:0px ; 
					margin-bottom: 10px;
					font-family: $cam-font;
					font-style: italic;
					font-size: 25px;
				}
			}
	}
	.img{
		position:relative;
		margin-top: 0px;
		margin-bottom: 30px;
			img{
				margin: -12px;

			}
		span{
			position: absolute;
			top: 20px;
			left:50px;
			font-size: 20px;
			// font-weight: bold;
		}
	}
	.bio-info{
		font-family: $pt-font;
		font-size: 13px;
		margin-bottom: 30px;
		// font-weight: 100;
	}
}
.skills-mobile{
	background:$background-footer;
	color: white;
	padding-top:30px;
	padding-bottom:30px;
	border-top:1px solid white;
	h2{
		margin-bottom:20px;
	}
	img{
		width: 300px;
	}
	.col-xs-1{
		// font-weight: bold;
		font-size: 25px;
	}
	.col-xs-10{
		margin-top: 5px;
	}
	.row{
		margin-bottom:10px;
	}
	
}
}
@media only screen and (max-width: 600px){
.footer{
	.bio{
		position:relative;
		.bio-img{
		position: absolute;
		width: 80%;
		top: -60px;
	}
	.name-img{
				margin:0px;
				margin-left: -30px;
				margin-bottom:30px;
				// margin-bottom: 20px;
				.bio-name{
					margin:0px ; 
					margin-bottom: 10px;
					font-family: $cam-font;
					font-style: italic;
					font-size: 25px;
				}
			}
	}

}

}
@media only screen and (max-width: 500px){
.footer{
	.bio{
		position:relative;
		.bio-img{
		position: absolute;
		width: 80%;
		top: -60px;
	}
	.name-img{
				margin:0px;
				margin-left: -30px;
				margin-bottom:10px;
				// margin-bottom: 20px;
				.bio-name{
					font-size: 20px;
				}
			}
	}

}

}
@media only screen and (max-width: 400px){
.footer{
	.bio{
		position:relative;
		.bio-img{
		position: absolute;
		width: 100%;
		top: -50px;
	}
	.name-img{
				margin:0px;
				margin-left: 0px;
				margin-bottom:10px;
				// margin-bottom: 20px;
				.bio-name{
					font-size: 18px;
				}
			}
	}
	.img{
		position:relative;
		margin-top: -30px;
		margin-bottom: 0px;
			img{
				margin: 0px;

			}
		span{
			// 
			display: none;
			// font-weight: bold;
		}
	}
	.bio-info{
		font-family: $pt-font;
		font-size: 13px;
		margin-bottom: 30px;
		// font-weight: 100;
	}

}
.skills-mobile{
	background:$background-footer;
	color: white;
	// padding-top:30px;
	// padding-bottom:30px;
	border-top:1px solid white;
	h2{
		margin-bottom:17px;
	}
	img{
		width: 150px;
	}
	.col-xs-1{
		// font-weight: bold;
		font-size: 20 	px;
	}
	.col-xs-10{
		margin-top: 5px;
	}
	.row{
		margin-bottom:10px;
	}
	
}

}
@media only screen and (max-width: 320px){
.footer{
	.bio{
		position:relative;
		.bio-img{
		position: absolute;
		width: 100%;
		top: -20px;
	}
	.name-img{
				margin:10px;
				margin-left: -10px;
				margin-bottom:0px;
				// margin-bottom: 20px;
				.bio-name{
					font-size: 17px;
					margin-bottom: 0px;
				}
				span{

					font-size: 13px;
				}
			}
	}
	
	.bio-info{
		margin-top: 10px;
		font-family: $pt-font;
		font-size: 11px;
		margin-bottom: 10px;
		// font-weight: 100;
	}

}
}
